/* Import Assets */
/* @import ''; */

/* * * * * * * * * * * *\
 *      Weather        *
 *                     *
 *  By: Dean Wagner    *
 * info@deanwagner.net *
 *                     *
 *   Assignment for:   *
 *  The Odin Project   *
 * theodinproject.com  *
\* * * * * * * * * * * */

:root {
    /* Default Colors */
    --color-text   : #F6F8F7;
    --color-title  : #FCF2AE;
    --color-accent : #8DDDE2;
    --color-item   : #45595F;
    --color-shadow : #313031;

    /* Shadow/Glow */
    --shadow-box   : 0 0 1rem;
    --shadow-title : 0.15rem 0.15rem 0;
    --shadow-link  : 0.1rem 0.1rem 0.1rem;
    --shadow-text  : 0.05rem 0.05rem 0.2rem;
    --glow-box     : 0 0 0.3rem;
    --glow-text    : 0 0 0.2rem;

    /* Borders */
    --border-solid  : 1px solid;
    --outline-solid : 2px solid;

    /* Font Families */
    --font-base  : Tahoma, Verdana, Geneva, sans-serif;
    --font-title : Georgia, Cambria, serif;
    --font-mono  : 'Courier New', Courier, monospace;

    /* Transitions */
    --transition-all : all 0.2s ease-out;
    --enable-all     : none;

    /* Flags changed in Media Queries */
    --mobile-view: 0;

    /* Browser Theme */
    color-scheme: light;
}

* {
    box-sizing: border-box;
    cursor: default;
    accent-color: var(--color-accent);
}

/* * * * * * * * *\
 * Element Base  *
\* * * * * * * * */

html {
    margin: 0;
    padding: 0;
}

body {
    align-items: stretch;
    background-color: var(--color-shadow);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 5em var(--color-shadow);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    font-family: var(--font-base);
    font-size: 12pt;
    justify-content: stretch;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    text-shadow: var(--shadow-text) var(--color-shadow);
}

body.loading header,
body.loading main,
body.loading footer {
    display: none;
}

a, a * {
    cursor: pointer;
    transition: var(--transition-all);
}

a, a:link, a:visited {
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: var(--shadow-link) var(--color-shadow);
}

a:hover, a:focus, a:active {
    color: var(--color-title);
    text-decoration: underline;
    text-shadow: var(--glow-text) var(--color-title);
}

svg {
    filter: drop-shadow(var(--shadow-text) var(--color-shadow));
    height: 5rem;
    width: 5rem;
    transition: var(--transition-all);
}

svg path {
    fill: var(--color-text);
    transition: var(--transition-all);
}

h1, h2, h3, h4 {
    color: var(--color-title);
    font-family: var(--font-title);
    margin: 0 0 1em;
    text-shadow: var(--shadow-title) var(--color-shadow);
}

h1 {
    margin: 0;
    flex: 1;
    font-size: 2.5em;
}

h2 {
    color: var(--color-text);
    margin: 0 0 0.5rem;
}

.container {
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
    border: var(--border-solid) var(--color-shadow);
    border-radius: 0.5em;
    box-shadow: var(--shadow-box) var(--color-shadow);
    padding: 1em;
}

/* * * * * * * * *\
 *    Header     *
\* * * * * * * * */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    width: 100%;
}

header > svg {
    height: 2.5em;
    width: 2.5em;
}

header > svg path {
    fill: var(--color-title);
}

/* * * * * * * * *\
 *     Main      *
\* * * * * * * * */

main {
    flex: 1;
    width: 100%;
}

/* * * * * * * * *\
 *    Section    *
\* * * * * * * * */

section {

}

main #current {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

main #current ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main #current > div {
    width: 30%;
}

main #current #main_cond {

}

main #current #main_cond #current_temp {
    font-size: 5em;
    text-align: center;
    text-shadow: var(--shadow-title) var(--color-shadow);
}

main #current #main_cond #current_icon {
    text-align: center;
}

main #current #main_cond #current_icon svg {
    filter: drop-shadow(var(--shadow-title) var(--color-shadow));
    height: 9em;
    width: 9em;
}

main #current #main_cond #current_main {
    font-size: 2.5em;
    text-align: center;
}

main #current #main_cond #current_desc {
    font-size: 1.8em;
    text-align: center;
    text-transform: capitalize;
}

main #current #sub_cond {
    display: grid;
    font-size: 1.2em;
    grid-template-columns: 1.5em auto auto;
    grid-template-rows: repeat(9, auto);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

main #current #sub_cond svg {
    height: 1.5em;
    width: 1.5em;
}

main #current #sub_cond .current_label {
    color: var(--color-title);
}

main #current #sub_cond .current_data {
    font-weight: bold;
}

main #forecast {
    align-items: flex-start;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 2em;
}

/* * * * * * * * *\
 *    Footer     *
\* * * * * * * * */

footer {
    align-items: flex-start;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    padding: 0.5em;
    width: 100%;
}

footer cite {
    font-style: normal;
}

/* * * * * * * * *\
 *  GitHub Icon  *
\* * * * * * * * */

.github-link svg {
    filter: drop-shadow(var(--shadow-text) var(--color-shadow));
    height: 2.3em;
    transition: var(--transition-all);
    width: 2.3em;
}

.github-link svg path {
    fill: var(--color-accent);
}

.github-link:hover svg,
.github-link:focus svg,
.github-link:active svg {
    filter: drop-shadow(var(--glow-box) var(--color-title));
    transform: rotate(360deg) scale(1.5);
}

.github-link:hover svg path,
.github-link:focus svg path,
.github-link:active svg path {
    fill: var(--color-title);
}

/* * * * * * * * *\
 *    Modals     *
\* * * * * * * * */

#modal, #modal > div {
    display: none;
}

#modal > div {
    background-color: var(--color-item);
    box-shadow: var(--shadow-box) var(--color-shadow);
    padding: 2em;
}

#modal div h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0 0 1em;
    text-align: center;
}

#modal .close_modal svg {
    filter: drop-shadow(var(--shadow-link) var(--color-shadow));
}

#modal .close_modal svg path {
    fill: var(--color-accent);
}

#modal .close_modal:hover svg {
    filter: drop-shadow(var(--glow-text) var(--color-shadow) var(--color-title));
}

#modal .close_modal:hover svg path {
    fill: var(--color-title);
}

/* * * * * * * * *\
 * Media Queries *
\* * * * * * * * */

@media screen and (max-width: 1200px) {

}

@media screen and (orientation: portrait) {
    :root { --mobile-view: 1; }
}

@media (prefers-color-scheme: dark) {
    :root { color-scheme: dark; }
}


#loading {
    background: transparent;
    border: 3px solid var(--color-item);
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    color: var(--color-accent);
    font-family: var(--font-mono);
    font-size: 1.2em;
    height: 10em;
    left: 50%;
    letter-spacing: 0.5em;
    line-height: 10em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em var(--color-accent);
    transform: translate(-50%,-50%);
    top: 50%;
    width: 10em;
}

#loading:before {
    animation: animateC 2s linear infinite;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right: 3px solid var(--color-accent);
    border-top: 3px solid var(--color-accent);
    content: '';
    height: 100%;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 100%;
}

#loading #words {
    margin-left: 0.5em;
}

#loading #dot {
    animation: animate 2s linear infinite;
    background: transparent;
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    top: calc(50% - 2px);
    transform-origin: left;
    width: 50%;
}

#loading #dot:before {
    background: var(--color-accent);
    border-radius: 50%;
    box-shadow: 0 0 1em var(--color-accent);
    content: '';
    height: 1em;
    position: absolute;
    right: -8px;
    top: -6px;
    width: 1em;
}

@keyframes animateC {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes animate {
    0%   { transform: rotate(45deg); }
    100% { transform: rotate(405deg); }
}